.CreateProjectButton button {
    display: inline-block;
    border-radius: 4px;
    background-color: #61dafb;
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0px;
    width: 180px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.CreateProjectButton button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.CreateProjectButton button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.CreateProjectButton button:hover span {
    padding-right: 25px;
}

.CreateProjectButton button:hover span:after {
    opacity: 1;
    right: 0;
}