.dashboardContainer {
  text-align: center;
}

.dashboardContainer h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #8b97a1;
}

.dashboardContainer button {
  display: inline-block;
  border-radius: 4px;
  background-color: #61dafb;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 0px;
  width: 180px;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.dashboardContainer button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dashboardContainer button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dashboardContainer button:hover span {
  padding-right: 25px;
}

.dashboardContainer button:hover span:after {
  opacity: 1;
  right: 0;
}
